`include <parameters.v>
# ROACH 2 REV 0
# FPGA constraints file

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

#Net clk_125 TNM_NET = clk_125;
#TIMESPEC TS_clk_125 = PERIOD clk_125 125 MHz;

Net ppc_perclk TNM_NET = ppc_perclk;
TIMESPEC TS_ppc_perclk = PERIOD ppc_perclk 84 MHz;

# VRN/VRP sharing

CONFIG DCI_CASCADE = "14 13";
CONFIG DCI_CASCADE = "23 22";
CONFIG DCI_CASCADE = "28 27";
CONFIG DCI_CASCADE = "32 33";
CONFIG DCI_CASCADE = "36 35 37 38";

## Global signals

# system clock (100 MHz)
NET "sys_clk_n"          LOC = AP12;
NET "sys_clk_p"          LOC = AP11;

NET "aux_clk_n"          LOC = AW16;
NET "aux_clk_p"          LOC = AV16;

NET "aux_synci_n"        LOC = BB17;
NET "aux_synci_p"        LOC = BB16;
NET "aux_synco_n"        LOC = BA17;
NET "aux_synco_p"        LOC = BA16;

NET "v6_gpio<0>"         LOC = G31    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<1>"         LOC = H31    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<2>"         LOC = AF32   | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<3>"         LOC = AG33   | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<4>"         LOC = L30    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<5>"         LOC = H30    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<6>"         LOC = M29    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<7>"         LOC = J30    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<8>"         LOC = M28    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<9>"         LOC = K30    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<10>"        LOC = N19    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<11>"        LOC = N20    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<12>"        LOC = H18    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<13>"        LOC = F16    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<14>"        LOC = E29    | IOSTANDARD = "LVCMOS15";
NET "v6_gpio<15>"        LOC = M27    | IOSTANDARD = "LVCMOS15";

NET "v6_irqn"            LOC = AY17;

## PPC External Peripheral Bus (EPB) signals

# perclk 83.333 MHz
# This is correct
NET "ppc_perclk"         LOC = AY14;

NET "ppc_pcsn<0>"        LOC = N35;
NET "ppc_pcsn<1>"        LOC = L39;
NET "ppc_poen"           LOC = AA31;
NET "ppc_pwrn"           LOC = V31;
NET "ppc_pben<0>"        LOC = Y30;
NET "ppc_pben<1>"        LOC = W31;
NET "ppc_pben<2>"        LOC = R32;
NET "ppc_pben<3>"        LOC = T32;
NET "ppc_pblastn"        LOC = N34;
NET "ppc_prdy"           LOC = L40;

# external ouput enable for the data bus
NET "ppc_doen"           LOC = AF35  | IOSTANDARD = "LVCMOS15";

NET "ppc_paddr<5>"       LOC = AT14;
NET "ppc_paddr<6>"       LOC = AR14;
NET "ppc_paddr<7>"       LOC = AR15;
NET "ppc_paddr<8>"       LOC = AP15;
NET "ppc_paddr<9>"       LOC = AN13;
NET "ppc_paddr<10>"      LOC = AN14;
NET "ppc_paddr<11>"      LOC = AM12;
NET "ppc_paddr<12>"      LOC = AM13;
NET "ppc_paddr<13>"      LOC = AV14;
NET "ppc_paddr<14>"      LOC = AJ32;
NET "ppc_paddr<15>"      LOC = AJ31;
NET "ppc_paddr<16>"      LOC = AK30;
NET "ppc_paddr<17>"      LOC = AJ30;
NET "ppc_paddr<18>"      LOC = AK33;
NET "ppc_paddr<19>"      LOC = AH30;
NET "ppc_paddr<20>"      LOC = AH29;
NET "ppc_paddr<21>"      LOC = AG29;
NET "ppc_paddr<22>"      LOC = AD30;
NET "ppc_paddr<23>"      LOC = AC30;
NET "ppc_paddr<24>"      LOC = AY13;
NET "ppc_paddr<25>"      LOC = AV13;
NET "ppc_paddr<26>"      LOC = AD31;
NET "ppc_paddr<27>"      LOC = AB31;
NET "ppc_paddr<28>"      LOC = AC31;
NET "ppc_paddr<29>"      LOC = AA30;

NET "ppc_pdata<0>"       LOC = AR13;
NET "ppc_pdata<1>"       LOC = AP13;
NET "ppc_pdata<2>"       LOC = AU14;
NET "ppc_pdata<3>"       LOC = AV15;
NET "ppc_pdata<4>"       LOC = AT12;
NET "ppc_pdata<5>"       LOC = AR12;
NET "ppc_pdata<6>"       LOC = BA14;
NET "ppc_pdata<7>"       LOC = BA15;
NET "ppc_pdata<8>"       LOC = AW13;
NET "ppc_pdata<9>"       LOC = AW12;
NET "ppc_pdata<10>"      LOC = BB14;
NET "ppc_pdata<11>"      LOC = BB13;
NET "ppc_pdata<12>"      LOC = AU13;
NET "ppc_pdata<13>"      LOC = AU12;
NET "ppc_pdata<14>"      LOC = AW15;
NET "ppc_pdata<15>"      LOC = AY15;
NET "ppc_pdata<16>"      LOC = P33;
NET "ppc_pdata<17>"      LOC = N33;
NET "ppc_pdata<18>"      LOC = AG31;
NET "ppc_pdata<19>"      LOC = AH31;
NET "ppc_pdata<20>"      LOC = R30;
NET "ppc_pdata<21>"      LOC = T30;
NET "ppc_pdata<22>"      LOC = AF31;
NET "ppc_pdata<23>"      LOC = AG32;
NET "ppc_pdata<24>"      LOC = U31;
NET "ppc_pdata<25>"      LOC = T31;
NET "ppc_pdata<26>"      LOC = AL32;
NET "ppc_pdata<27>"      LOC = AK32;
NET "ppc_pdata<28>"      LOC = R33;
NET "ppc_pdata<29>"      LOC = P32;
NET "ppc_pdata<30>"      LOC = AH33;
NET "ppc_pdata<31>"      LOC = AJ33;

## ZDOKs

NET "zdok0_dp_p<26>"     LOC = F37;
NET "zdok0_dp_p<27>"     LOC = D42;
NET "zdok0_dp_p<28>"     LOC = A40;
NET "zdok0_dp_p<29>"     LOC = L31;
NET "zdok0_dp_p<30>"     LOC = J37;
NET "zdok0_dp_p<31>"     LOC = J40;
NET "zdok0_dp_p<32>"     LOC = K38;
NET "zdok0_dp_p<33>"     LOC = H39;
NET "zdok0_dp_p<34>"     LOC = D40;
NET "zdok0_dp_p<35>"     LOC = F40;
NET "zdok0_dp_p<36>"     LOC = F35;
NET "zdok0_dp_p<37>"     LOC = D38;

# ZDOK 1

# clk sync and overrange signals
NET "kat_adc0_clk_n"       LOC = K42;
NET "kat_adc0_clk_p"       LOC = J42;
NET "kat_adc0_overrange_n" LOC = P31;
NET "kat_adc0_overrange_p" LOC = P30;
NET "kat_adc0_sync_n"      LOC = J36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "kat_adc0_sync_p"      LOC = J37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

# iic signals for adc0
NET "kat_adc0_iic_sda" LOC = P28  | SLEW = SLOW;
NET "kat_adc0_iic_scl" LOC = L32  | SLEW = SLOW;

# spi signals for adc0
NET "kat_adc0_spi_clk" LOC = P27  | SLEW = SLOW;
NET "kat_adc0_spi_dat" LOC = N28  | SLEW = SLOW;
NET "kat_adc0_spi_cs"  LOC = L31  | SLEW = SLOW;

NET "kat_adc0_di_d_p<0>" LOC = L34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<1>" LOC = M33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<2>" LOC = M36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<3>" LOC = K33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<4>" LOC = L35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<5>" LOC = J40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<6>" LOC = N29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_p<7>" LOC = K39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<0>" LOC = M34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<1>" LOC = M32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<2>" LOC = M37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<3>" LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<4>" LOC = L36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<5>" LOC = J41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<6>" LOC = N30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_d_n<7>" LOC = K40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<0>" LOC = K35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<1>" LOC = K38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<2>" LOC = K37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<3>" LOC = H40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<4>" LOC = J35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<5>" LOC = H39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<6>" LOC = G34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_p<7>" LOC = G37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<0>" LOC = K34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<1>" LOC = J38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<2>" LOC = L37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<3>" LOC = H41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<4>" LOC = H35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<5>" LOC = H38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<6>" LOC = H34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_di_n<7>" LOC = G38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<0>" LOC = B41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<1>" LOC = B37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<2>" LOC = A40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<3>" LOC = D38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<4>" LOC = B38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<5>" LOC = E39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<6>" LOC = D42 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_p<7>" LOC = F35 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<0>" LOC = B42 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<1>" LOC = A37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<2>" LOC = A41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<3>" LOC = C38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<4>" LOC = A39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<5>" LOC = E38 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<6>" LOC = D41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_d_n<7>" LOC = F36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<0>" LOC = B39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<1>" LOC = C40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<2>" LOC = F37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<3>" LOC = F40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<4>" LOC = H36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<5>" LOC = E42 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<6>" LOC = F39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_p<7>" LOC = D40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<0>" LOC = C39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<1>" LOC = C41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<2>" LOC = E37 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<3>" LOC = F41 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<4>" LOC = G36 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<5>" LOC = F42 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<6>" LOC = G39 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "kat_adc0_dq_n<7>" LOC = E40 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;

# ZDOK 1

# clk sync and overrange signals
NET "kat_adc1_clk_n"       LOC = V30;
NET "kat_adc1_clk_p"       LOC = W30;
NET "kat_adc1_overrange_n" LOC = W42;
NET "kat_adc1_overrange_p" LOC = Y42;
NET "kat_adc1_sync_n"      LOC = AF30;
NET "kat_adc1_sync_p"      LOC = AE30;

# iic signals for adc1
NET "kat_adc1_iic_sda"     LOC = Y32  | SLEW = SLOW;
NET "kat_adc1_iic_scl"     LOC = AA37 | SLEW = SLOW;

# spi signals for adc1
NET "kat_adc1_spi_clk"     LOC = AA34 | SLEW = SLOW;
NET "kat_adc1_spi_dat"     LOC = AA32 | SLEW = SLOW;
NET "kat_adc1_spi_cs"      LOC = AA36 | SLEW = SLOW;






